## Deliverable 3. Create a Travel Itinerary Map.

In [136]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [137]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hammerfest,NO,43.25,broken clouds,70.6634,23.6821,Skytterhuset
1,18,Punta Arenas,CL,43.29,clear sky,-53.1500,-70.9167,Hotel Hain
2,20,Te Anau,NZ,43.95,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
3,36,Qaanaaq,GL,24.87,clear sky,77.4840,-69.3632,Qaanaaq Hotel
4,37,Upernavik,GL,37.83,overcast clouds,72.7868,-56.1549,Café de Upernavik

In [138]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description	</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [139]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [142]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
citystart = "Lithgow"
cityend = "Lithgow"
city2 = "Grenfell"
city3 = "Parkes"
city4 = "Dubbo"
vacation_start = vacation_df.loc[vacation_df["City"] == citystart]
vacation_end = vacation_df.loc[vacation_df["City"] == cityend]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city2]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city3]
vacation_stop3 = vacation_df.loc[vacation_df[ "City"] ==city4]

In [143]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [144]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets


# Latitude-longitude pairs
LithgowStart = start
LithgowEnd = end
Grenfell = stop1
Parkes = stop2
Dubbo = stop3
fig = gmaps.figure()
travel = gmaps.directions_layer(LithgowStart, LithgowEnd, waypoints=[Grenfell,Parkes,Dubbo], travel_mode='DRIVING')
fig.add_layer(travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [145]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,265,Lithgow,AU,42.69,broken clouds,-33.4833,150.1500,Zig Zag Motel Lithgow
1,101,Grenfell,AU,42.24,overcast clouds,-33.9000,148.1667,Grenfell Royal Hotel
2,433,Parkes,AU,44.35,broken clouds,-33.1333,148.1833,Station Motel
3,80,Dubbo,AU,41.13,overcast clouds,-32.2500,148.6167,Quality Inn Dubbo International

In [146]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description	</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [148]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))